html {
  height: 100%; 
  font-family:Arial, sans-serif; 
  font-size:12px; 
  line-height:16px;
  color:#ccc; 
  background-color:#111;
}

a {
  text-decoration:underline;
  color:#ccc;
}

#header { 
  position:absolute; 
  top:0px; 
  left:0px; 
  right:0px; 
  height:90px; 
  border:1px solid gray;
  padding:5px;
}

#left-panel {
  position:absolute;
  top:100px;
  left:0px;
  bottom:0px;
  width:340px;
  border:1px solid gray;
  padding:5px;
  overflow:auto;
}

#right-panel {
  position:absolute;
  top:100px;
  left:350px;
  bottom:0px;
  right:0px;
  border:1px solid gray;
  padding:5px;
  overflow:auto;
}

.sat-img-wrapper {
  width:160px;
  height:160px;
  overflow:hidden;
  display:inline-block;
}

.zoom1 .sat-img {
  width:160px;
  height:160px;
}

.zoom2 .sat-img {
  width:240px;
  height:240px;
  margin-left:-40px;
  margin-top:-40px;
}
.zoom3 .sat-img {
  width:320px;
  height:320px;
  margin-left:-80px;
  margin-top:-80px;
}
.zoom4 .sat-img {
  width:640px;
  height:640px;
  margin-left:-240px;
  margin-top:-240px;
}
