<!doctype html>
<html>
  <head>
    <title>Spatial Browser for Wikipedia Categories</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='gv.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header"><h1>Spatial Browser for Wikipedia Categories</h1></div>
    <div id="left-panel">
      <div id="search">
        <form action="/">
          {% if cat_id %}
          <input type="hidden" name="cat_id" value="{{ cat_id|string }}" />
          {% endif %}
          <input type="text" name="search_string" value="{{ search_string }}"/>
          <button>Search</button>
        </form>
      </div>
      <hr />
      {% for cat in categories %}
      <a href="/?cat_id={{ cat.id }}&search_string={{ search_string }}" data-cat-id="{{ cat.id }}">{{ cat.name }}</a><br />
      {% endfor %}
    </div>

    <div id="right-panel" class="zoom1">
      {% if entities %}
      <h2>Category: {{ entities[0].cat }} ({{ entities|length }} entries)</h2><br />
      {% for entity in entities %}
      <div class="sat-img-wrapper">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entity.lat }},{{ entity.lon }}&zoom=16&scale=1&size=640x640&maptype=satellite&sensor=false&junk=.jpg{% if config.KEY %}&key={{ config.KEY }}{% endif %}" class="sat-img" />
        <div class="extras">
          <div class="t"> {{ entity.name }}</div>
          <div class="bl">
            <a href="http://en.wikipedia.org/wiki/{{ entity.url_name }}" title="View Wikipedia Entry" target="_blank">Wiki</a>
          </div>
          <div class="br">
            <a href="https://maps.google.com/maps?q={{ entity.lat }},{{ entity.lon }}&z=14" target="_blank">Map</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div id="zoom-links">
        Zoom:
        <button onclick="setZoom(1);">1</button>
        <button onclick="setZoom(2);">2</button>
        <button onclick="setZoom(3);">3</button>
        <button onclick="setZoom(4);">4</button>
      {% endif %}
    </div>
    <script src="{{ url_for('.static', filename='gv.js') }}"></script>
  </body>
</html>
